body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #cfcfcf;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.inner-page {
    color: #5c5c5c;
    background-color: #f9f6f3;
    background-position: 0 0;
    background-repeat: repeat;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;

    background-color: #000000;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}
.main-header-logo {
    order: 2;
    width: 368px;
    height: 153px;
}

.inner-page .main-header-logo {
    order: 0;
    width: 111px;
    height: 24px;
    padding: 23px 20px;
}
